<div class="container">

	  <div class="row subtitle">
			<h2 class="head-line text-center title_h2 subtitle row">マイページ編集</h2>
		</div>

			 <%= form_with model: @customer, url:user_path(@customer), local:true do |f| %>

   <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :nickname %><br />
    <%= f.text_field :nickname, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
  Gender:
  <%= f.label :gender, :man %>
  <%= f.radio_button :gender, "男性" %>
  <%= f.label :gender, :woman %>
  <%= f.radio_button :gender, "女性" %>
  <%= f.label :gender, :other %>
  <%= f.radio_button :gender, "その他" %>
 </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <p></p>

  <div class="actions">
    <%= f.submit "編集保存", class: "btn btn-outline-info nav-link save col-2" %>
    <p></p>
    <%= link_to "退会する", user_quit_path(@customer), class: "btn btn-outline-danger nav-link col-2" %>
  </div>
  <% end %>

</div>
