<div class="container subtitle">
  <div class="row">
    <div class="col-lg-8" >

      <table class='table table-hover table-inverse'>
        <thead>
          <tr style="border:none;">
            <h3><i class="fas fa-search-plus"></i>エリア一覧・追加</h3>

            <%= form_with model:@location, url:admins_locations_path, local:true do |f| %>
              <th style="border:none;"><h6>エリア名</h6></th>
              <th style="border:none;"><%= f.text_field :name , placeholder: "エリア名" %></th>
              <th style="border:none;"><%= f.submit '新規登録' ,class: 'btn btn-outline-info'%></th>
            <% end %>
          </tr>
        </thead>
      </table>

      <div class = "row">
        <div class = "col-6">
          <table class='table table-hover table-inverse'>
            <tbody>
              <h5 bgcolor="#dcdcdc">エリア</h5></h5>
                <% @locations.each do |location| %>
                  <tr>
                    <td><%= location.name %></td>
                    <td><%= link_to "編集する", edit_admins_location_path(location.id) ,class: 'btn btn-outline-info' %></td>
                  </tr>
                <% end %>

            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>