<div class='container'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

    <div class="row">
      <% if @post.errors.any? %>
      <div class="row error_messages">
        <strong><font color="red"><%= @post.errors.count %>件のエラーが発生しました。<br></font></strong>
        <% @post.errors.full_messages.each do |message| %>
          <font color="black">・<%= message %><br></font>
        <% end %>
      </div>
      <% end %>

      <div class="row subtitle">
   　  <h3 style="display: inline;"><strog>投稿編集</strong></h3>
  　　</div>

      <%= form_with model: @post, url:post_path(@post), local:true do |f| %>

      <div class="form-group">
       <label for="Image">商品画像</label>
       <%= f.attachment_field :image %>
       <%#= f.attachment_field :image %>
      </div>

       <div class="form-group">
       <%= f.label :name,"観光地名" %>
       <%= f.text_field :name, class: "form-control name", placeholder: "観光地名" %>
      </div>

      <div class="form-group">
       <%= f.label :genre,"ジャンル" %>
       <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "-- 選択してください --" %>
      </div>

      <div class="form-group">
       <%= f.label :genre,"場所" %>
       <%= f.collection_select :location_id, Location.all, :id, :name, include_blank: "-- 選択してください --" %>
      </div>

      <div class="field" id="star">
       <%= f.label :evaluation, "星評価：" %>
       <%= f.hidden_field :evaluation, id: :review_star %>
          <script>
            $('#star').raty({
              size     : 36,
              starOff:  '<%= asset_path('star-off.png') %>',
              starOn : '<%= asset_path('star-on.png') %>',
              starHalf: '<%= asset_path('star-half.png') %>',
              scoreName: 'post[evaluation]',   //evaluationカラムへの保存
              half: true,   //星半分の入力
            });
          </script>
      </div>

      <div class="form-group">
       <%= f.label :statement,"案内文" %>
       <%= f.text_field :statement, class: "form-control name", placeholder: "案内文" %>
      </div>

      <div class="form-group">
       <%#= f.label :address,"住所" %>
       <%#= f.text_field :address, class: "form-control name", placeholder: "住所" %>
      </div>

　　　 <%= f.submit '内容を保存', class: "btn btn-outline-info" %>

　　　 <%= link_to("/posts/#{@post.id}/destroy",{method:"post"}) do %>
     　<button type="button" class="btn btn-outline-danger">
       <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>削除
       </button>
       <% end %>

       <% end %>



  </div>
  </div>
</div>
