<div class='container'>

  <p></p>

　<% if flash[:success] %>
	<div class="flash">
  <%= flash[:success] %>
  </div>
	 <% end %>
  <div class="row subtitle">
    <h2 style="display: inline;"><i class="fas fa-clone"></i>投稿一覧</h2>
    <p></p>
      <div class="right">
        <%=link_to new_post_path, class: "btn btn-outline-secondary new_product" do %>
        <i class="fas fa-plus"></i>
        <% end %>
      </div>
  </div>
  <p></p>

  <div class="row">
    <% @posts.each do |post|%>
    <div class="post-item">
          <div class="post-image"><%= attachment_image_tag post, :image ,size: "400x200", fallback: "no_image.jpg", class: "rounded" %></div>
          <section class="post-text">
            <h4 class="post-text-heading">『<%=  link_to post.name, post_path(post)  %>』</h4>
            <span class="category">ジャンル:<%= post.genre.name %><br/>
              <% if post.location.present? %>
                エリア:<%= post.location.name %>
              <% end %>
            </span>
            <p class="post-name">投稿者:<%= link_to post.customer.nickname, user_path(post.customer) %> / <%= post.customer.gender %></p>
            <% if post.favorited_by?(current_customer) %>
            <p>
              <%= link_to post_favorites_path(post), class: "btn btn-outline-info", method: :delete do %>
               お気に入り ♥<%= post.favorites.count %>
              <% end %>
            </p>
            <% else %>
            <p>
              <%= link_to post_favorites_path(post), class: "btn btn-outline-info", method: :post do %>
                お気に入り♡<%= post.favorites.count %>
              <% end %>
            </p>
            <% end %>
          </section>
        </div>
    <% end %>
  </div>
<%= paginate @posts %>
<p></p>
</div>
