<div class='container'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">

    <div class="row subtitle">
      <% if @post.errors.any? %>
      <div class="row error_messages">
        <strong><font color="red"><%= @post.errors.count %>件のエラーが発生しました。<br></font></strong>
        <% @post.errors.full_messages.each do |message| %>
          <font color="black">・<%= message %><br></font>
        <% end %>
      </div>
      <% end %>

      <div class="row">
   　 <h2 style="display: inline;"><i class="fas fa-edit"></i>投稿フォーム</h2>
  　　</div>

      <p></p>

      <%= form_with model: @post, url:'/posts', local:true do |f| %>

      <div class="form-group">
       <label for="Image">商品画像</label>
       <%= f.attachment_field :image %>
       <%#= f.attachment_field :image %>
      </div>

       <div class="form-group">
       <%= f.label :name,"観光地名" %>
       <%= f.text_field :name, class: "form-control name", placeholder: "観光地名" %>
      </div>

      <div class="form-group">
       <%= f.label :genre,"ジャンル" %>
       <%= f.collection_select :genre_id, Genre.all, :id, :name, include_blank: "-- 選択してください --" %>
      </div>

      <div class="form-group">
       <%= f.label :location,"エリア" %>
       <%= f.collection_select :location_id, Location.all, :id, :name, include_blank: "-- 選択してください --" %>
      </div>

      <div class="field" id="star">
       <%= f.label :evaluation, "星評価：" %>
       <%= f.hidden_field :evaluation, id: :review_star %>
          <script>
            $('#star').raty({
              size     : 36,
              starOff:  '<%= image_tag asset_path('star-off.png') %>',
              starOn : '<%= image_tag asset_path('star-on.png') %>',
              starHalf: '<%= image_tag asset_path('star-half.png') %>',
              scoreName: 'post[evaluation]',   //evaluationカラムへの保存
              half: true,   //星半分の入力
            });
          </script>
        </div>

      <div class="form-group">
       <%= f.label :statement,"案内文" %>
       <%= f.text_field :statement, class: "form-control name", size: "40x80", placeholder: "案内文" %>
      </div>

　　　<%= f.submit '新規登録', class: "btn btn-outline-info" %>

      <% end %>
  </div>
  </div>
  <p></p>
</div>
