<div class='container'>

  <div class="row subtitle">
    <div class="col-2">
      <% if customer_signed_in? %>                        <!--deviseのヘルパーメソッドです、省いても問題ありません。-->
        <h5><i class="fas fa-search-plus"></i>商品名検索</h5>
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.text_field 'search[value]', size: "18x3" %><br>
          <span class="search-button col-xs-12 text-right">
            <%= f.select 'search[how]', options_for_select({ "観光地" => "partical", "投稿者" => "forward", "ジャンル" => "backward", "場所" => "match" }) %>
            <%= f.submit :"検索" %>
          </span>
        <% end %>
      <% end %>
      <p></p>
      <table class="table table-bordered genre-table">
        <thead>
          <tr class="border">
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.first(5).each do |genre| %>
          <tr>
            <td>
              <%= link_to genre.name, search_path('search[value]': genre.id, 'search[how]': "match") %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-9">
    <h2 style="display: inline;"><i class="fas fa-medal"></i>投稿ランキング</h2>
    <p></p>
    <table class="table striped">
      <thead>
        <tr>
          <th bgcolor="#EEEEEE">順位</th>
           <!-- 同率じゅんい：Ruby group_by -> order, likes_count order by hash key-->
          <th bgcolor="#EEEEEE">観光地名</th>
          <th bgcolor="#EEEEEE">ジャンル</th>
          <th bgcolor="#EEEEEE">ニックネーム</th>
          <th bgcolor="#EEEEEE">更新日</th>
          <th bgcolor="#EEEEEE">お気に入り数</th>
        </tr>
      </thead>
      <tbody>
        <% @posts.each_with_index do |post,n| %>
          <tr>
            <td>
              　<span><%= n+1 %></span>
            <!--td class="text-left"><%#= link_to post.id, post_path(post) , class: "btn btn-info" %></td-->
            </td>
            <td class="text-left" ><%= link_to post.name, post_path(post) %></td>
            <td class = "text-left"><%= post.genre.name %>
            <td class = "text-left"><%= post.customer.nickname %></td>
            <td class = "text-left"><%= post.updated_at.strftime('%Y/%m/%d')%></td>
            <td class = "text-left"><%= post.favorites.count %></td>
          </tr>
          <% end %>
      </tbody>
      </table>
     </div>
  </div>
</div>
