<div class='container'>

  <div class="row subtitle">
    <div class="col-2">
      <% if customer_signed_in? %>                        <!--deviseのヘルパーメソッドです、省いても問題ありません。-->
        <h5><i class="fas fa-search-plus"></i>投稿検索</h5>
        <%= form_with url: search_path, method: :get, local: true do |f| %>
          <%= f.text_field 'search[value]', size: "18x3" %><br>
          <span class="search-button col-xs-12 text-right">
            <%= f.select 'search[how]', options_for_select({ "観光地" => "post", "投稿者" => "customer", "ジャンル" => "genre", "エリア" => "location" }) %>
            <%= f.submit :"検索" %>
          </span>
        <% end %>
      <% end %>
      <p></p>
      <table class="table table-bordered genre-table">
        <thead>
          <tr class="border">
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tbody>
          <% @genres.first(5).each do |genre| %>
          <tr>
            <td>
              <%= link_to genre.name, search_path('search[value]': genre.name, 'search[how]': "genre") %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class='col-1'></div>

    <div class="col-md-9">
    <h2 style="display: inline;"><i class="fas fa-medal"></i>投稿ランキング</h2>
    <p></p>
    <table class="table striped">
      <thead>
        <tr>
          <th bgcolor="#EEEEEE">順位</th>
          <th bgcolor="#EEEEEE">観光地名</th>
          <th bgcolor="#EEEEEE">ジャンル</th>
          <th bgcolor="#EEEEEE">ニックネーム</th>
          <th bgcolor="#EEEEEE">更新日</th>
          <th bgcolor="#EEEEEE">お気に入り数</th>
        </tr>
      </thead>
      <tbody>
        <% tmp_favorite_count = 0 %>　<!-- お気に入りを数えるときは０からという意味-->
        <% rank = 1 %> <!--ランキング１位からっていう意味-->
        <% @posts.each.with_index(1) do |post, i| %> <!--iは順位の変数-->
          <tr>
            <td>
               <!--同率順位表示-->
                <% if post.favorites.count == tmp_favorite_count %> <!--もしお気に入りの数と数えたお気に入りの数が同じなら-->
                  第<%= rank %>位 <!--ランキングはそのまま＝同率 -->
                <% else %>
                  <% rank = i %> <!--もし同じじゃないならeachのループ分だけの順位になる-->
                  第<%= rank %>位　<!--普通に順位更新-->
                <% end %>
                <% tmp_favorite_count = post.favorites.count %> <!--ランキングの度にその時のお気に入りの数を比べ、同じならif違ったらelse-->
            </td>
            <td class="text-left" ><%= link_to post.name, post_path(post) %></td>
            <td class = "text-left"><%= post.genre.name %></td>
            <td class = "text-left"><%= post.customer.nickname %></td>
            <td class = "text-left"><%= post.updated_at.strftime('%Y/%m/%d')%></td>
            <td class = "text-left"><%= post.favorites.count %></td>
          </tr>
          <% end %>
      </tbody>
      </table>
     </div>
  </div>
</div>
