 <div class='container'>
 <div class="row subtitle">
    <h2><i class="far fa-bookmark"></i>ブックマーク一覧</h2>
  </div>

  <p></p>

  <div class="row">
    <table class="table striped">
      <thead>
        <tr>
          <th bgcolor="#EEEEEE">観光地名</th>
          <th bgcolor="#EEEEEE">ジャンル</th>
          <th bgcolor="#EEEEEE">エリア</th>
          <th bgcolor="#EEEEEE">ニックネーム</th>
          <th bgcolor="#EEEEEE">性別</th>
        </tr>
      </thead>
      <tbody>
        <% @customer.favorites.each do |favorite|%>
        <!--customerのお気にいりでeach文-->
          <tr>
            <td class="text-left"><%=link_to favorite.post.name, post_path(favorite.post) %></td>
            <td class="text-left" ><%= favorite.post.genre.name %></td>
            <td class = "text-left"><%= favorite.post.location.name %></td>
            <td class = "text-left"><%= favorite.post.customer.nickname %></td>
            <td class = "text-left"><%= favorite.post.customer.gender %></td>
          </tr>
          <% end %>
      </tbody>
    </table>
  </div>
  <%#= paginate @posts %>
</div>
</div>